//service card
.service-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//service modal card
.dropdown {
  width: var(--dropdown-width) !important;
}

.groupLabel {
  font-weight: 700;
  color: #242424;
  font-size: var(--text-fz);
}

.option {
  p {
    color: var(--mantine-color-dimmed-1);
  }
}

.input {
  color: var(--mantine-color-gray-4);
  font-weight: 700;
  button{
    border-color: var(--btn-border-color);
  }

}

.label {
  font-weight: 700 !important;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-gray-7);
}

.description {
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-xs);
}

//service modal
.price-container{
  align-items: flex-end;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.btn-container{
  padding: 1rem 0;

  @media (max-width: 768px) {
    padding: 1rem 0 2rem 0;
  }
}