.card-header {
    background-color: light-dark(var(--mantine-color-bg_color-4), var(--mantine-color-dark-6));
    border-bottom: 0.0625rem solid light-dark(var(--mantine-color-bg_color-0), var(--mantine-color-dark-6));
    padding: 1rem;
    max-height: 56px;
}

.icon {
    transition: all 0.3s ease;
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-bg_color-0));
    background-color: light-dark(var(--mantine-color-bg_color-0), var(--mantine-color-dark-6));
    border-color: red;
    &:hover {
        //color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-bg_color-0));
        //background-color: light-dark(var(--mantine-color-bg_color-0), var(--mantine-color-dark-6));
    }
}