.drop-down-container {
  position: absolute;
  //bottom: -364px;
  top: 80px;
  width: 100%;

  ul {
    background-color: white;
    flex-direction: column;
    align-items: center;

    li {
      list-style: none;
      font-size: 1rem;
      background-color: transparent;
      display: flex;
      justify-content: center;
      width: 100%;

      a {
        text-decoration: none;

        color: var(--mantine-color-dark-8);
        transition: all 200ms;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 1rem 0.5rem;

      }

      &:hover {
        background-color: var(--mantine-color-gray-1);
        cursor: pointer;

        a {
          color: var(--mantine-color-dark-2);
          transform: translateX(-4px);
          font-weight: 900;
        }
      }
    }
  }
}