.select{
    //background-color: red;
    & > div > input {
        min-height: 2rem;
        height: 2rem;
        width: 6rem;
        &:focus-within {
            border-color: var(--mantine-color-dark-3);
        }
    }
}
.pagination {
    padding: .8rem;
    & > div > button {
        &[data-active] {
            pointer-events: none;
            color: var(--mantine-color-dimmed);
            background-color: var(--mantine-color-placeholder);
            border-color: var(--mantine-color-default-border);
        }
        &:hover{
            background-color: var(--mantine-color-placeholder);
        };
        color: var(--mantine-color-text);
        background-color: var(--mantine-color-body);
    }
}

.modal-header{
    border-radius: 0;
    background-color: var(--mantine-color-body);
    color: var(--mantine-color-text);
    //border-bottom: 0.0625rem solid var(--mantine-color-gray-2);

    h2 {
        font-size: var(--mantine-font-size-lg);
        font-weight: 600;
        margin: 0;
    }
}

.modal-body-full-screen{
    position: relative;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.modal-body{
    position: relative;
    padding: 1rem !important;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.modal-content-adding-new-client{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}



