.icon-root {
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
    transition: background-color 0.3s;
    &:hover {
        border-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-7))
    }
    .icon {
        color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-4));
        background-color: transparent;
    }
}

.edit{
    stroke: var(--mantine-color-green-5)
}

.delete{
    stroke: var(--mantine-color-red-5)
}

.disabled{
    stroke: var(--mantine-color-violet-5)
}

.enable{
    stroke: var(--mantine-color-teal-5)
}

.clientsLastMonth{
    stroke: var(--mantine-color-teal-5)
}

.addIcon{
    stroke: var(--mantine-color-teal-8);
}

.plus{
    stroke: var(--mantine-color-dark-1);
}