.toolbar{
  //border: 0.0625rem solid var(--mantine-color-default-border);
  background-color: var(--mantine-color-body);
  border-top-right-radius: var(--mantine-radius-md);
  border-top-left-radius: var(--mantine-radius-md);
}